.listContainer{
    margin-left: 50%;
    margin-top: 5%;


     
    .boxes{
        padding-top: 10px;
    }

    label{
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        color: rgb(24, 23, 23);
        margin-top: 5px;
    }
    input{
        width: 138px;
        height: 30px;
        padding-left: 10px;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
    }
}